
* {
  margin: 0;
  padding: 0;
}

html {
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  background-color: #FFFFF4;
  font: 16px helvetica, arial, clean, sans-serif;
}

body {
  max-width: 42em;
  margin-left:auto;
  margin-right:auto;
}

a {
  color: #000066;
  text-decoration: none;
}

a:hover {
  color: #0000CC;
}

a:visited {
  color: #000066;
}

h1 {
  font-size: 140%;
  margin-bottom: 1.5em;
  margin-top: 3em;
}

/******************************/
/*       Navigation Bar       */
/******************************/

header {
  font-size: 100%;
  margin-top: 3em;
  margin-bottom: 1em;
  line-height: 1em;
}

nav {
  text-align: left;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

nav span {
  font-size: 120%;
  color: #0000CC;
}

nav ul {
  float: right;
  display: inline-block;
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-left: 1em;
}

nav a{
  color: #666;
}

nav a:visited{
  color: #666;
}

nav a:hover{
  color: black;
}

/******************************/
/*         Main Cotent        */
/******************************/

main {
  font-size: 100%;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
}

main h2,h3 {
  font-size: 110%;
  margin-bottom: 1em;
  margin-top: 2em;
}

main hr {
  margin-bottom: 1em;
}

main p {
  margin-top: 1em;
  margin-left: 0;
}

main ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom: 0em;
}

main ol li{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

main ul {
  list-style-position: inside;
  margin-bottom: 0em;
}

main ul li{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

main a{
  text-decoration: underline;
}

/******************************/
/*           Footer           */
/******************************/

footer {
  width: 100%;
  color: #666;
  font-size: 100%;
  line-height: 1.5em;
  border-top: 4px solid #eee;
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
  float: left;
}

footer p {
  font-size: 80%;
}

/******************************/
/*           Others           */
/******************************/

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

ol.start {
  counter-reset: mycounter;
}
ol.start li, ol.continue li {
  list-style: none;
}
ol.start li:before, ol.continue li:before {
  content: counter(mycounter) ". ";
  counter-increment: mycounter;
}
