
* {
  margin: 0;
  padding: 0;
}

html {
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  /*background-color: #FFFFF4;*/
  font: 16px helvetica, arial, clean, sans-serif;
}

body {
  max-width: 42em;
  margin-left:auto;
  margin-right:auto;
}

a {
  color: #000066;
  text-decoration: none;
}

a:hover {
  color: #0000CC;
}

a:visited {
  color: #000066;
}

h1 {
  font-size: 150%;
  margin-bottom: 1.5em;
  margin-top: 3em;
}

/******************************/
/*       Navigation Bar       */
/******************************/

header.mainsite {
  font-size: 100%;
  height: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1em;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
}

header.mainsite nav {
  text-align: justify;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

header.mainsite nav ul {
  width: 95%;
  margin: auto;
  list-style-type: none;
  padding: 0;
}

header.mainsite nav ul::after{
    content: '';
    display: inline-block;
    width: 100%;
}

header.mainsite nav li {
  display: inline-block;
}


header.blog {
  font-size: 100%;
  margin-top: 3em;
  margin-bottom: 3em;
  border-bottom: 2px solid #ccc;
}

header.blog nav {
  text-align: left;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

header.blog nav span {
  font-size: 120%;
  color: #0000CC;
}

header.blog nav ul {
  float: right;
  display: inline-block;
  list-style-type: none;
}

header.blog nav li {
  display: inline-block;
  margin-left: 1em;
}

nav a{
  color: #666;
}

nav a:visited{
  color: #666;
}

nav a:hover{
  color: black;
  text-decoration: underline;
}

/******************************/
/*         Main Cotent        */
/******************************/

main {
  font-size: 100%;
  text-align: justify;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
}

main h2,h3 {
  text-align: left;
  font-size: 110%;
  margin-bottom: 1em;
  margin-top: 2em;
}
main h4 {
  text-align: left;
  font-size: 110%;
  color: #666;
  margin-bottom: 1em;
  margin-top: 1em;
}

main hr {
  margin-bottom: 1em;
}

main p {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
}

main ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom: 0em;
}

main ol li{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

main ul {
  list-style-position: inside;
  margin-bottom: 0em;
}

main ul li{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

main a {
  text-decoration: underline;
}
/******************************/
/*           Footer           */
/******************************/

footer {
  width: 100%;
  color: #666;
  font-size: 100%;
  line-height: 1.5em;
  border-top: 2px solid #ccc;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 2em;
  float: left;
}

footer p {
  font-size: 80%;
}

/******************************/
/*           Fonts            */
/******************************/

.title-font-1 {
  font-size: 160%;
}

.title-font-2 {
  font-size: 140%;
}

.chinese-font p, .chinese-font h1, .chinese-font h2, .chinese-font h3, .chinese-font h4{
  text-align: left;
  font-family: "Microsoft Yahei","微软雅黑","WenQuanYi Micro Hei",sans-serif;
}

/******************************/
/*       MISCELLANEOUS        */
/******************************/

/*  Continuous Numbering  */

ol.start {
  counter-reset: mycounter;
}
ol.start li, ol.continue li {
  list-style: none;
}
ol.start li:before, ol.continue li:before {
  content: counter(mycounter) ". ";
  counter-increment: mycounter;
}

/*  blockquote  */

blockquote {
  background: GhostWhite;
  border-left: 10px solid #ccc;
  margin: 1.5em 1em;
  padding: 0.5em 0.5em;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* Card Display */

.display-card-wide {
  padding: 0.5em 1em;
  margin: 1.5em 1em;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.display-card-narrow {
  max-width: 80%;
  width: 360px;
  text-align: center;
  padding: 0.5em 1em;
  margin: 1.5em auto;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

/* List of Post */

ul.posts{
  list-style-type: none;
}

/* Meta Information for Posts */

span.meta{
  color: #666;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 90%;
}

span.monospace{
  color: #666;
  font-family: "Courier New", Courier, monospace;
  font-size: 90%;
}

/* Hidden */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Hr */
hr.divide-light {
  border-top: 1px solid #ccc;
	margin: 2em 0;
}

hr.divide-gradient {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
	margin: 2em 0;
}

hr.divide {
  border-top: 2px solid;
	margin: 2em 0;
}

hr.style-three {
margin: 2em 0;
height: 30px;
border-style: solid;
border-color: black;
border-width: 1px 0 0 0;
border-radius: 20px;
}
hr.style-three:before {
display: block;
content: "";
height: 30px;
margin-top: -31px;
border-style: solid;
border-color: black;
border-width: 0 0 1px 0;
border-radius: 20px;
}
