body {
    padding-top: 60px;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;
    margin-bottom: 3rem;
}

footer {
    margin-top: 3rem;
    padding-top: 2rem;
    margin-bottom: 1rem;
    border-top: .05rem solid #e5e5e5;
    color: #999;
    text-align: center;
}

.site-main-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* CUSTOMIZE INDEX PAGE
-------------------------------------------------- */

.featurette {
    height: auto;
}

/* Carousel base class */
.carousel {
    width: 15rem;
    height: 20rem;
    margin: auto;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    width: 15rem;
    height: 20rem;
    background-color: #FFF;
}

.carousel-item > img {
    width: 15rem;
    height: 20rem;
    padding: 0;
}

.featurette-image {
    width: 15rem;
    height: 20rem;
}

@media (min-width: 40rem) {
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62rem) {
    .featurette-heading {
        margin-top: 4rem;
    }
}

/* CUSTOMIZE PUBLICATION PAGE
-------------------------------------------------- */

#publications-list {
    list-style-position: inside;
    padding-left: 0rem;
}

#publications-list li{
    margin-bottom: 0.5rem;
}


/* CUSTOMIZE BLOG PAGE
-------------------------------------------------- */

.post-divider {
    margin: 3rem 0; /* Space out the Bootstrap <hr> more */
    clear: both;
    visibility: hidden;
}

.video-center-block {
    position: relative;
    height: 0;
    overflow: hidden;
}
/* 16x9 Aspect Ratio */
.video-center-block{
    padding-bottom: 56.25%;
}
.video-center-block iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

/* OTHERS
-------------------------------------------------- */

/* Hidden */
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.highlight  {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    margin: 1rem 4rem;
}
.highlight pre code {
    display: block;
    white-space: pre;
    overflow-x: auto;
    word-wrap: normal;
}
.highlight pre table *{
    border-style: none;
}
.highlight .lineno { color: #ccc; padding: 0 5px;border-right:1px solid #ccc;}
/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
.highlight .lineno {-webkit-user-select: none;-moz-user-select: none; -o-user-select: none;}
.lineno::-moz-selection {background-color: transparent;} /* Mozilla specific */
.lineno::selection {background-color: transparent;} /* Other major browsers */
