/* Whole Site
-------------------------------------------------- */

body {
    padding-top: 56px !important;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    border-top: .05rem solid #e5e5e5;
    color: #999;
    text-align: center;
}

footer a {
    color: #999;
    text-decoration: none;
}

footer a:hover {
    color: rgb(10, 88, 202);
}

h2 a {
    color: black;
    text-decoration: none;
}

h2 a:hover {
    color: rgb(10, 88, 202);
}

h4 a {
    text-decoration: none;
}

h4 a:hover {
    text-decoration: underline;
}

.site-main-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sc-content {
    font-family: "Microsoft Yahei", "Noto Sans CJK SC", Arial, sans-serif;
}

.side-ad {
    display: flex;
}

.side-ad iframe {
    justify-content: center;
}

/* Twitter Content
-------------------------------------------------- */
.twitter-content div {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* About Page
-------------------------------------------------- */

.featurette {
    height: auto;
}

@media (min-width: 40rem) {
    .featurette-heading {
        font-size: 42px;
    }
}

@media (min-width: 62rem) {
    .featurette-heading {
        margin-top: 3rem;
    }
}

/* Publication Page
-------------------------------------------------- */

.publications-list {
    list-style-position: inside;
    padding-left: 0rem;
}

.publications-list li {
    margin-bottom: 0.5rem;
}


/* CUSTOMIZE BLOG PAGE
-------------------------------------------------- */

.post-divider {
    clear: both;
    visibility: hidden;
}

.figure-center-240 {
    margin-bottom: 1rem;
}

.figure-center-240 img {
    display: block;
    max-width: 90%;
    max-height: 240px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.figure-center-800 {
    margin-bottom: 1rem;
}

.figure-center-800 img {
    display: block;
    max-width: 90%;
    max-height: 800px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.video-center-block {
    position: relative;
    overflow: hidden;
    height: 0;
    margin-bottom: 1rem;
}

.video-center-block iframe {
    position: absolute;
    top: 0%;
    left: 5%;
    width: 90%;
    height: 100%;
}

.video-16-9 {
    padding-bottom: 56.25%;
}

.caption-text {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.post-list {
    list-style-type: none;
    padding-left: 0rem;
}

/* Code Higlights
-------------------------------------------------- */

.highlight {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    margin: 1rem 2rem;
}

.highlight pre code {
    display: block;
    white-space: pre;
    overflow-x: auto;
    word-wrap: normal;
    border: rgba(0, 0, 0, .125);
    border-style: dashed;
    border-width: 1px;
    border-radius: 8px;
    padding: 0.5rem 1rem;
}

.highlight pre table * {
    border-style: none;
}

.highlight .lineno {
    color: #ccc;
    padding: 0 5px;
    border-right: 1px solid #ccc;
}

/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
.highlight .lineno {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

.lineno::-moz-selection {
    background-color: transparent;
}

/* Mozilla specific */
.lineno::selection {
    background-color: transparent;
}

/* Other major browsers */

/* Miscs
-------------------------------------------------- */

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* Hidden */
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}