body {
    padding-top: 56px !important;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
/* , */

footer {
    border-top: .05rem solid #e5e5e5;
    color: #999;
    text-align: center;
}

.site-main-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sc-content {
    font-family: "Microsoft Yahei", "Noto Sans CJK SC", Arial, sans-serif;
}

/* CUSTOMIZE INDEX PAGE
-------------------------------------------------- */

.featurette {
    height: auto;
}

/* Carousel base class */
.carousel {
    width: 15rem;
    height: 20rem;
    margin: auto;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    width: 15rem;
    height: 20rem;
    background-color: #FFF;
}

.carousel-item > img {
    width: 15rem;
    height: 20rem;
    padding: 0;
}

.featurette-image {
    width: 15rem;
    height: 20rem;
}

@media (min-width: 40rem) {
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62rem) {
    .featurette-heading {
        margin-top: 3rem;
    }
}

/* CUSTOMIZE PUBLICATION PAGE
-------------------------------------------------- */

#publications-list {
    list-style-position: inside;
    padding-left: 0rem;
}

#publications-list li{
    margin-bottom: 0.5rem;
}


/* CUSTOMIZE BLOG PAGE
-------------------------------------------------- */

h2 a{
    color: black;
}

.post-divider {
    clear: both;
    visibility: hidden;
}

.media-center-block {
    position: relative;
    height: 0;
    overflow: hidden;
    margin-bottom: 1em;
}

/* 16x9 Aspect Ratio */
.video-16-9{
    padding-bottom: 56.25%;
}

.image-4-3{
    padding-bottom: 67.5%;
}

.image-4-3 img {
    position: absolute;
    top: 0%;
    left: 5%;
    width: 90%;
    height: auto;
}

.image-3-4{
    padding-bottom: 106.66%;
}

.image-3-4 img {
    position: absolute;
    top: 0%;
    left: 10%;
    width: 80%;
    height: auto;
}

.video-16-9 iframe {
    position: absolute;
    top: 0%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.caption-text {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

/* OTHERS
-------------------------------------------------- */

.rotate90 {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* Hidden */
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.highlight  {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    margin: 1rem 4rem;
}
.highlight pre code {
    display: block;
    white-space: pre;
    overflow-x: auto;
    word-wrap: normal;
}
.highlight pre table *{
    border-style: none;
}
.highlight .lineno { color: #ccc; padding: 0 5px;border-right:1px solid #ccc;}
/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
.highlight .lineno {-webkit-user-select: none;-moz-user-select: none; -o-user-select: none;}
.lineno::-moz-selection {background-color: transparent;} /* Mozilla specific */
.lineno::selection {background-color: transparent;} /* Other major browsers */
