<footer class="pt-4 pb-5 bg-light">
        <h2 class="visually-hidden">Footer</h2>

        <div style="text-align: center;">
            Copyright © 2013-2018 <a href="http://blackholexyg.github.io/"><b>Yeguang Xue</b></a>
        </div>

        <div style="text-align: center;">
            <br />
            <a href="https://www.facebook.com/yeguang.xue" target="_blank">
                <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
            </a>&nbsp;&nbsp;
            <a href="https://www.linkedin.com/in/yeguangxue" target="_blank">
                <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
            </a>&nbsp;&nbsp;
            <a href="https://twitter.com/blackholexyg" target="_blank">
                <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
            </a>&nbsp;&nbsp;
            <a href="https://github.com/blackholexyg" target="_blank">
                <i class="fa fa-github fa-2x" aria-hidden="true"></i>
            </a>&nbsp;&nbsp;
            <a href="http://weibo.com/xygcn" target="_blank">
                <i class="fa fa-weibo fa-2x" aria-hidden="true"></i>
            </a>&nbsp;&nbsp;
        </div>
</footer>
