<footer>
        <h2 class="visually-hidden">Footer</h2>

        <div style="text-align: center;">
            Copyright © 2013-2018 <a href="http://blackholexyg.github.io/"><b>Yeguang Xue</b></a>
        </div>

        <div style="text-align: center;">
            <br />
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i> &nbsp;&nbsp;
            <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i> &nbsp;&nbsp;
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i> &nbsp;&nbsp;
            <i class="fa fa-weibo fa-2x" aria-hidden="true"></i> &nbsp;&nbsp;
        </div>
</footer>
