<footer class="pt-4 pb-5">
    <div style="text-align: center;">
        Copyright © 2013-2024 <a href="https://www.yeguang-xue.com">Yeguang Xue</a>
    </div>

    <div style="text-align: center;">
        <a href="https://twitter.com/YeguangXue" target="_blank"><i class="bi-twitter-x"
                style="font-size: 2rem;"></i></a>&nbsp&nbsp
        <a href="https://www.linkedin.com/in/yeguangxue" target="_blank"><i class="bi-linkedin"
                style="font-size: 2rem;"></i></a>&nbsp&nbsp
        <a href="https://github.com/yeguang-xue" target="_blank"><i class="bi-github" style="font-size: 2rem;"></i></a>
    </div>
</footer>