<h1>
    {% if section_title %}
    <a href="{{ site.baseurl }}{{ section_title }}">
        {{ section_title }}
    </a>
    {% else %}
    Archive
    {% endif %}
</h1>
<hr>

<ul class="list-no-bullet">
    {% for post in section_posts %}
    <li class="d-none d-lg-block">
        <span class="font-monospace text-secondary">{{ post.date | date: '%Y-%m-%d' }}</span>
        <span class="ml-2">
            &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
        </span>
    </li>

    <li class="d-block d-lg-none">
        <div class="font-monospace text-secondary">{{ post.date | date: '%Y-%m-%d' }}</div>
        <div class="ml-1 mb-2">
            &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
        </div>
    </li>
    {% endfor %}
</ul>