<li>Y Bai, H Wang, <b>Y Xue</b>, Y Pan, J Kim, X Ni, T Liu, Y Yang, M Han, Y Huang, JA Rogers and X Ni, "A dynamically
    reprogrammable surface with self-evolving shape morphing", <i><b>Nature</b></i> 609, 701-708 (2022)</li>
<li>Q Yang, T Liu, <b>Y Xue</b>, H Wang, Y Xu, B Emon, M Wu, C Rountree, T Wei and I Kandela, "Ecoresorbable and
    bioresorbable microelectromechanical systems", <i><b>Nature Electronics</b></i> 5, 526-538 (2022)</li>
<li>H Luan, Q Zhang, T Liu, X Wang, S Zhao, H Wang, S Yao, <b>Y Xue</b>, JW Kwak, W Bai, Y Xu, M Han, K Li, Z Li, X Ni,
    J Ye, D Choi, Q Yang, J Kim, S Li, S Chen, C Wu, D Lu, J Chang, Z Xie, Y Huang and JA Rogers, "Complex 3D
    microfluidic architectures formed by mechanically guided compressive buckling", <i><b>Science Advances</b></i> 7,
    eabj3686 (2021)</li>
<li>R Avila, C Li, <b>Y Xue</b>, JA Rogers and Y Huang, "Modeling programmable drug delivery in bioelectronics with
    electrochemical actuation", <i><b>Proceedings of the National Academy of Sciences</b></i> 118, (2021)</li>
<li>C Li, <b>Y Xue</b>, M Han, LC Palmer, JA Rogers, Y Huang and SI Stupp, "Synergistic photoactuation of bilayered
    spiropyran hydrogels for predictable origami-like shape change", <i><b>Matter</b></i> 4, 1377-1390 (2021)</li>
<li>A Hourlier-Fargette, S Schon, <b>Y Xue</b>, R Avila, W Li, Y Gao, C Liu, SB Kim, MS Raj, KB Fields, BV Parsons, K
    Lee, JY Lee, HU Chung, SP Lee, M Johnson, AJ Bandodkar, P Gutruf, JB Model, AJ Aranyosi, J Choi, TR Ray, R Ghaffari,
    Y Huang and JA Rogers, "Skin-interfaced soft microfluidic systems with modular and reusable electronics for in situ
    capacitive sensing of sweat loss, rate and conductivity", <i><b>Lab on a Chip</b></i> 20, 4391-4403 (2020)</li>
<li>J Choi, S Chen, Y Deng, <b>Y Xue</b>, JT Reeder, D Franklin, YS Oh, JB Model, AJ Aranyosi, SP Lee, R Ghaffari, Y
    Huang and JA Rogers, "Skin‐Interfaced Microfluidic Systems that Combine Hard and Soft Materials for Demanding
    Applications in Sweat Capture and Analysis", <i><b>Advanced Healthcare Materials</b></i> 10, 2000722 (2021)</li>
<li>C Chiang, SM Won, AL Orsborn, KJ Yu, M Trumpis, B Bent, C Wang, <b>Y Xue</b>, S Min, V Woods, C Yu, BH Kim, SB Kim,
    R Huq, J Li, KJ Seo, F Vitale, A Richardson, H Fang, Y Huang, K Shepard, B Pesaran, JA Rogers and J Viventi,
    "Development of a neural interface for high-definition, long-term recording in rodents and nonhuman primates",
    <i><b>Science Translational Medicine</b></i> 12, (2020)</li>
<li>Q Yang, S Lee, <b>Y Xue</b>, Y Yan, T Liu, S Kang, YJ Lee, SH Lee, M Seo, D Lu, J Koo, MR MacEwan, RT Yin, WZ Ray, Y
    Huang and JA Rogers, "Materials, Mechanics Designs, and Bioresorbable Multisensor Platforms for Pressure Monitoring
    in the Intracranial Space", <i><b>Advanced Functional Materials</b></i> 30, 1910718 (2020)</li>
<li>JT Reeder, <b>Y Xue</b>, D Franklin, Y Deng, J Choi, O Prado, R Kim, C Liu, J Hanson, J Ciraldo, AJ Bandodkar, S
    Krishnan, A Johnson, E Patnaude, R Avila, Y Huang and JA Rogers, "Resettable skin interfaced microfluidic sweat
    collection devices with chemesthetic hydration feedback", <i><b>Nature Communications</b></i> 10, 1-12 (2019)</li>
<li>X Yu, Z Xie, Y Yu, J Lee, A Vazquez-Guardado, H Luan, J Ruban, X Ning, A Akhtar, D Li, B Ji, Y Liu, R Sun, J Cao, Q
    Huo, Y Zhong, C Lee, S Kim, P Gutruf, C Zhang, <b>Y Xue</b>, Q Guo, A Chempakasseril, P Tian, W Lu, J Jeong, Y Yu, J
    Cornman, C Tan, B Kim, K Lee, X Feng, Y Huang and JA Rogers, "Skin-integrated wireless haptic interfaces for virtual
    and augmented reality", <i><b>Nature</b></i> 575, 473-479 (2019)</li>
<li>Y Zhang, DC Castro, Y Han, Y Wu, H Guo, Z Weng, <b>Y Xue</b>, J Ausra, X Wang, R Li, G Wu, A Vázquez-Guardado, Y
    Xie, Z Xie, D Ostojich, D Peng, R Sun, B Wang, Y Yu, JP Leshock, S Qu, C Su, W Shen, T Hang, A Banks, Y Huang, J
    Radulovic, P Gutruf, MR Bruchas and JA Rogers, "Battery-free, lightweight, injectable microsystem for in vivo
    wireless pharmacology and optogenetics", <i><b>Proceedings of the National Academy of Sciences</b></i> 116,
    21427-21437 (2019)</li>
<li>Y Liu, X Wang, Y Xu, Z Xue, Y Zhang, X Ning, X Cheng, <b>Y Xue</b>, D Lu, Q Zhang, F Zhang, J Liu, X Guo, K Hwang, Y
    Huang, JA Rogers and Y Zhang, "Harnessing the interface mechanics of hard films and soft substrates for 3D assembly
    by controlled buckling", <i><b>Proceedings of the National Academy of Sciences</b></i> 116, 15368-15377 (2019)</li>
<li>Y Zhang, AD Mickle, P Gutruf, LA McIlvried, H Guo, Y Wu, JP Golden, <b>Y Xue</b>, JG Grajales-Reyes, X Wang, S
    Krishnan, Y Xie, D Peng, C Su, F Zhang, JT Reeder, SK Vogt, Y Huang, JA Rogers and RW Gereau, "Battery-free, fully
    implantable optofluidic cuff system for wireless optogenetic and pharmacological neuromodulation of peripheral
    nerves", <i><b>Science Advances</b></i> 5, eaaw5296 (2019)</li>
<li>J Shin, Z Liu, W Bai, Y Liu, Y Yan, <b>Y Xue</b>, I Kandela, M Pezhouh, MR MacEwan, Y Huang, WZ Ray, W Zhou and JA
    Rogers, "Bioresorbable optical sensor systems for monitoring of intracranial pressure and temperature",
    <i><b>Science Advances</b></i> 5, eaaw1899 (2019)</li>
<li>H Zhao, K Li, M Han, F Zhu, A Vázquez-Guardado, P Guo, Z Xie, Y Park, L Chen, X Wang, H Luan, Y Yang, H Wang, C
    Liang, <b>Y Xue</b>, RD Schaller, D Chanda, Y Huang, Y Zhang and JA Rogers, "Buckling and twisting of advanced
    materials into morphable 3D mesostructures", <i><b>Proceedings of the National Academy of Sciences</b></i> 116,
    13239-13248 (2019)</li>
<li>JT Reeder, J Choi, <b>Y Xue</b>, P Gutruf, J Hanson, M Liu, T Ray, AJ Bandodkar, R Avila, W Xia, S Krishnan, S Xu, K
    Barnes, M Pahnke, R Ghaffari, Y Huang and JA Rogers, "Waterproof, electronics-enabled, epidermal microfluidic
    devices for sweat collection, biomarker analysis, and thermography in aquatic settings", <i><b>Science
            Advances</b></i> 5, eaau6356 (2019)</li>
<li>M Han, H Wang, Y Yang, C Liang, W Bai, Z Yan, H Li, <b>Y Xue</b>, X Wang, B Akar, H Zhao, H Luan, J Lim, I Kandela,
    GA Ameer, Y Zhang, Y Huang and JA Rogers, "Three-dimensional piezoelectric polymer microsystems for vibrational
    energy harvesting, robotic interfaces and biomedical implants", <i><b>Nature Electronics</b></i> 2, 26-35 (2019)
</li>
<li>K Li, X Cheng, F Zhu, L Li, Z Xie, H Luan, Z Wang, Z Ji, H Wang, F Liu, <b>Y Xue</b>, C Jiang, X Feng, L Li, JA
    Rogers, Y Huang and Y Zhang, "A Generic Soft Encapsulation Strategy for Stretchable Electronics", <i><b>Advanced
            Functional Materials</b></i> 29, 1806630 (2019)</li>
<li>AD Mickle, SM Won, KN Noh, J Yoon, KW Meacham, <b>Y Xue</b>, LA McIlvried, BA Copits, VK Samineni, KE Crawford, DH
    Kim, P Srivastava, BH Kim, S Min, Y Shiuan, Y Yun, MA Payne, J Zhang, H Jang, Y Li, HH Lai, Y Huang, S Park, RW
    Gereau and JA Rogers, "A wireless closed-loop system for optogenetic peripheral neuromodulation",
    <i><b>Nature</b></i> 565, 361-365 (2019)</li>
<li>H Luan, X Cheng, A Wang, S Zhao, K Bai, H Wang, W Pang, Z Xie, K Li, F Zhang, <b>Y Xue</b>, Y Huang and Y Zhang,
    "Design and Fabrication of Heterogeneous, Deformable Substrates for the Mechanically Guided 3D Assembly", <i><b>ACS
            applied materials & interfaces</b></i> 11, 3482-3492 (2018)</li>
<li><b>Y Xue</b>, W Lee, J Yuan, TW Odom and Y Huang, "Mechanics Modeling of Hierarchical Wrinkle Structures from the
    Sequential Release of Prestrain", <i><b>Langmuir</b></i> 34, 15749-15753 (2018)</li>
<li>K Nan, H Wang, X Ning, KA Miller, C Wei, Y Liu, H Li, <b>Y Xue</b>, Z Xie, H Luan, Y Zhang, Y Huang, JA Rogers and
    PV Braun, "Soft 3D Microscale Vibratory Platforms for Characterization of Nano-Thin Polymer Films", <i><b>ACS
            Nano</b></i> 13, 449-457 (2018)</li>
<li>X Wang, S Chen, Y Zhang, L Li, <b>Y Xue</b>, H Luan and Y Ma, "Anti-self-collapse design of reservoir in flexible
    epidermal microfluidic device via pillar supporting", <i><b>Applied Physics Letters</b></i> 113, 163702 (2018)</li>
<li>Y Ma, J Choi, A Hourlier-Fargette, <b>Y Xue</b>, HU Chung, JY Lee, X Wang, Z Xie, D Kang, H Wang, S Han, S Kang, Y
    Kang, X Yu, MJ Slepian, MS Raj, JB Model, X Feng, R Ghaffari, JA Rogers and Y Huang, "Relation between blood
    pressure and pulse wave velocity for human arteries", <i><b>Proceedings of the National Academy of Sciences</b></i>
    115, 11144-11149 (2018)</li>
<li>J Shin, Y Yan, W Bai, <b>Y Xue</b>, P Gamble, L Tian, I Kandela, CR Haney, W Spees, Y Lee, M Choi, J Ko, H Ryu, J
    Chang, M Pezhouh, S Kang, SM Won, KJ Yu, J Zhao, YK Lee, MR MacEwan, S Song, Y Huang, WZ Ray and JA Rogers,
    "Bioresorbable pressure sensors protected with thermally grown silicon dioxide for the monitoring of chronic
    diseases and healing processes", <i><b>Nature biomedical engineering</b></i> 3, 37-46 (2019)</li>
<li>X Ning, X Yu, H Wang, R Sun, R Corman, H Li, CM Lee, <b>Y Xue</b>, A Chempakasseril, Y Yao, Z Zhang, H Luan, Z Wang,
    W Xia, X Feng, RH Ewoldt, Y Huang, Y Zhang and JA Rogers, "Mechanically active materials in three-dimensional
    mesostructures", <i><b>Science Advances</b></i> 4, eaat8313 (2018)</li>
<li>SM Won, J Koo, KE Crawford, AD Mickle, <b>Y Xue</b>, S Min, LA McIlvried, Y Yan, SB Kim, SM Lee, BH Kim, H Jang, MR
    MacEwan, Y Huang, RW Gereau and JA Rogers, "Natural Wax for Transient Electronics", <i><b>Advanced Functional
            Materials</b></i> 28, 1801819 (2018)</li>
<li>KE Crawford, Y Ma, S Krishnan, C Wei, D Capua, <b>Y Xue</b>, S Xu, Z Xie, SM Won, L Tian, C Webb, Y Li, X Feng, Y
    Huang and JA Rogers, "Advanced approaches for quantitative characterization of thermal transport properties in soft
    materials using thin, conformable resistive sensors", <i><b>Extreme Mechanics Letters</b></i> 22, 27-35 (2018)</li>
<li>F Zhu, H Xiao, <b>Y Xue</b>, X Feng, Y Huang and Y Ma, "Anisotropic mechanics of cellular substrate under finite
    deformation", <i><b>Journal of Applied Mechanics</b></i> 85, 071007 (2018)</li>
<li>SB Kim, Y Zhang, SM Won, AJ Bandodkar, Y Sekine, <b>Y Xue</b>, J Koo, SW Harshman, JA Martin, JM Park, TR Ray, KE
    Crawford, K Lee, J Choi, RL Pitsch, CC Grigsby, AJ Strang, Y Chen, S Xu, J Kim, A Koh, JS Ha, Y Huang, SW Kim and JA
    Rogers, "Super‐Absorbent Polymer Valves and Colorimetric Chemistries for Time‐Sequenced Discrete Sampling and
    Chloride Analysis of Sweat via Skin‐Mounted Soft Microfluidics", <i><b>Small</b></i> 14, 1703334 (2018)</li>
<li>H Wang, X Ning, H Li, H Luan, <b>Y Xue</b>, X Yu, Z Fan, L Li, JA Rogers, Y Zhang and Y Huang, "Vibration of
    mechanically-assembled 3D microstructures formed by compressive buckling", <i><b>Journal of the Mechanics and
            Physics of Solids</b></i> 112, 187-208 (2018)</li>
<li>YR Jeong, J Kim, Z Xie, <b>Y Xue</b>, SM Won, G Lee, SW Jin, SY Hong, X Feng, Y Huang, JA Rogers and JS Ha, "A
    skin-attachable, stretchable integrated system based on liquid GaInSn for wireless human motion monitoring with
    multi-site sensing capabilities", <i><b>NPG Asia Materials</b></i> 9, e443 (2017)</li>
<li>R Avila and <b>Y Xue</b>, "Torsional Buckling by Joining Prestrained and Unstrained Elastomeric Strips With
    Application as Bilinear Elastic Spring", <i><b>Journal of Applied Mechanics</b></i> 84, 104502 (2017)</li>
<li>VK Samineni, J Yoon, KE Crawford, YR Jeong, KC Mckenzie, G Shin, Z Xie, SS Sundaram, Y Li, MY Yang, J Kim, D Wu,
    <b>Y Xue</b>, X Feng, Y Huang, AD Mickle, A Banks, JS Ha, JP Golden, JA Rogers and RW Gereau, "Fully implantable,
    battery-free wireless optoelectronic devices for spinal optogenetics", <i><b>Pain</b></i> 158, 2108-2116 (2017)</li>
<li>J Choi, <b>Y Xue</b>, W Xia, TR Ray, JT Reeder, AJ Bandodkar, D Kang, S Xu, Y Huang and JA Rogers, "Soft,
    skin-mounted microfluidic systems for measuring secretory fluidic pressures generated at the surface of the skin by
    eccrine sweat glands", <i><b>Lab on a Chip</b></i> 17, 2572-2580 (2017)</li>
<li>X Wang, Y Ma, <b>Y Xue</b>, H Luan, M Pharr, X Feng, JA Rogers and Y Huang, "Collapse of liquid-overfilled
    strain-isolation substrates in wearable electronics", <i><b>International Journal of Solids and Structures</b></i>
    117, 137-142 (2017)</li>
<li>H Fang, KJ Yu, C Gloschat, Z Yang, E Song, C Chiang, J Zhao, SM Won, S Xu, M Trumpis, Y Zhong, SW Han, <b>Y Xue</b>,
    D Xu, SW Choi, G Cauwenberghs, M Kay, Y Huang, J Viventi, IR Efimov and JA Rogers, "Capacitively coupled arrays of
    multiplexed flexible silicon transistors for long-term cardiac electrophysiology", <i><b>Nature Biomedical
            Engineering</b></i> 1, 0038 (2017)</li>
<li>X Ning, H Wang, X Yu, JA Soares, Z Yan, K Nan, G Velarde, <b>Y Xue</b>, R Sun, Q Dong, H Luan, CM Lee, A
    Chempakasseril, M Han, Y Wang, L Li, Y Huang, Y Zhang and JA Rogers, "3D Tunable, Multiscale, and Multistable
    Vibrational Micro‐Platforms Assembled by Compressive Buckling", <i><b>Advanced Functional Materials</b></i> 27,
    1605914 (2017)</li>
<li>YY Yu, XJ Bai, MC Kung, <b>Y Xue</b>, Y Huang, DT Keane and HH Kung, "Electromechanical properties of reduced
    graphene oxide thin film on 3D elastomeric substrate", <i><b>Carbon</b></i> 115, 380-387 (2017)</li>
<li>YK Lee, K Jang, Y Ma, A Koh, H Chen, HN Jung, Y Kim, JW Kwak, L Wang, <b>Y Xue</b>, Y Yang, W Tian, Y Jiang, Y
    Zhang, X Feng, Y Huang and JA Rogers, "Chemical Sensing Systems that Utilize Soft Electronics on Thin Elastomeric
    Substrates with Open Cellular Designs", <i><b>Advanced Functional Materials</b></i> 27, 1605476 (2017)</li>
<li>Y Ma, M Pharr, L Wang, J Kim, Y Liu, <b>Y Xue</b>, R Ning, X Wang, HU Chung, X Feng, JA Rogers and Y Huang, "Soft
    Elastomers with Ionic Liquid‐Filled Cavities as Strain Isolating Substrates for Wearable Electronics",
    <i><b>Small</b></i> 13, (2017)</li>
<li><b>Y Xue</b>, D Kang, Y Ma, X Feng, JA Rogers and Y Huang, "Collapse of microfluidic channels/reservoirs in thin,
    soft epidermal devices", <i><b>Extreme Mechanics Letters</b></i> 11, 18-23 (2017)</li>
<li>A Koh, D Kang, <b>Y Xue</b>, S Lee, RM Pielak, J Kim, T Hwang, S Min, A Banks, P Bastien, MC Manco, L Wang, KR
    Ammann, K Jang, P Won, S Han, R Ghaffari, U Paik, MJ Slepian, G Balooch, Y Huang and JA Rogers, "A soft, wearable
    microfluidic device for the capture, storage, and colorimetric sensing of sweat", <i><b>Science Translational
            Medicine</b></i> 8, 366ra165 (2016)</li>
<li>K Nan, H Luan, Z Yan, X Ning, Y Wang, A Wang, J Wang, M Han, M Chang, K Li, Y Zhang, W Huang, <b>Y Xue</b>, Y Huang,
    Y Zhang and JA Rogers, "Engineered elastomer substrates for guided assembly of complex 3D mesostructures by
    spatially nonuniform compressive buckling", <i><b>Advanced Functional Materials</b></i> 27, 1604281 (2017)</li>
<li>H Fang, J Zhao, KJ Yu, E Song, AB Farimani, C Chiang, X Jin, <b>Y Xue</b>, D Xu, W Du, KJ Seo, Y Zhong, Z Yang, SM
    Won, G Fang, SW Choi, S Chaudhuri, Y Huang, MA Alam, J Viventi, N Aluru and JA Rogers, "Ultrathin, transferred
    layers of thermally grown silicon dioxide as biofluid barriers for biointegrated flexible electronic systems",
    <i><b>Proceedings of the National Academy of Sciences</b></i> 113, 11682-11687 (2016)</li>
<li>Y Ma, <b>Y Xue</b>, K Jang, X Feng, JA Rogers and Y Huang, "Wrinkling of a stiff thin film bonded to a pre-strained,
    compliant substrate with finite thickness", <i><b>Proceedings of the Royal Society A: Mathematical, Physical and
            Engineering Sciences</b></i> 472, 20160339 (2016)</li>
<li>Y Ma, K Jang, L Wang, HN Jung, JW Kwak, <b>Y Xue</b>, H Chen, Y Yang, D Shi, X Feng, JA Rogers and Y Huang, "Design
    of Strain‐Limiting Substrate Materials for Stretchable and Flexible Electronics", <i><b>Advanced Functional
            Materials</b></i> 26, 5345-5351 (2016)</li>
<li>Y Zhang, RC Webb, H Luo, <b>Y Xue</b>, J Kurniawan, NH Cho, S Krishnan, Y Li, Y Huang and JA Rogers, "Theoretical
    and Experimental Studies of Epidermal Heat Flux Sensors for Measurements of Core Body Temperature", <i><b>Advanced
            Healthcare Materials</b></i> 5, 119-127 (2016)</li>
<li><b>Y Xue</b>, Y Zhang, X Feng, S Kim, JA Rogers and Y Huang, "A theoretical model of reversible adhesion in shape
    memory surface relief structures and its application in transfer printing", <i><b>Journal of the Mechanics and
            Physics of Solids</b></i> 77, 27-42 (2015)</li>