<div class="mx-2">
    <h1>
        Yeguang's Blog
    </h1>

    <p class="">
        Blogs about Math, Physics, Simulation, Programming, Homelab, and Life.
    </p>
    <p class="">
        More about me: <a href="{{ site.baseurl }}/cv">CV</a>, <a
            href="{{ site.baseurl }}/publications">Publications</a>
    </p>

    <hr>

    <h2 class="h5 mt-2">
        Categories
    </h2>

    <ul class="no-bullet">

        <li>
            <a href="{{ site.baseurl }}/blog/list"><i class="bi bi-file-post-fill me-2"></i> All Posts</a>
        </li>

        {% for category in site.categories %}
        <li>
            <a href="{{ site.baseurl }}/blog/{{ category[0] | downcase | replace: ' ', '-' }}"><i
                    class="bi bi-file-post-fill me-2"></i> {{ category[0] }}</a>
        </li>
        {% endfor %}
    </ul>

    <h2 class="h5 mt-2">Follow Me</h2>

    <ul class="no-bullet">
        <li><a href="https://scholar.google.com/citations?user=Dx2UZ0sAAAAJ&hl=en" target="_blank">
                <i class="bi-google me-2"></i> Google Scholar</a>
        </li>
        <li><a href="https://twitter.com/YeguangXue" target="_blank">
                <i class="bi-twitter-x me-2"></i> Twitter</a>
        </li>
        <li><a href="https://github.com/yeguang-xue" target="_blank">
                <i class="bi-github me-2"></i> GitHub</a>
        </li>
        <li><a href="https://www.linkedin.com/in/yeguangxue" target="_blank">
                <i class="bi-linkedin me-2"></i> LinkedIn</a>
        </li>
    </ul>
</div>