    <div class="panel panel-default">
        <div class="panel-heading">Recommended Posts</div>
        <div class="panel-body">
            <ul>
                <li>
                    <a href="{{ site.baseurl }}/blog/2016/06/03/klug">
                        怀念Klug教授
                    </a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/blog/2013/12/27/zjulife1">
                        我的浙大四年【1】
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Follow Me</div>
        <div class="panel-body">
            <ul>
                <li><a href="https://twitter.com/blackholexyg">Twitter</a></li>
                <li><a href="https://github.com/">Github</a></li>
                <li><a href="https://scholar.google.com/citations?user=Dx2UZ0sAAAAJ&hl=en">Google Scholar</a></li>
                <li><a href="https://www.linkedin.com/in/yeguangxue/">LinkedIn</a></li>
                <li><a href="http://weibo.com/xygcn">新浪微博</a></li>
            </ul>
        </div>
    </div>
