<div class="card mb-4 d-none d-md-block">
    <div class="card-header">Recommended</div>
    <div class="card-body">
        <ul class="mb-0">
            <li class='sc-content'>
                <a href="{{ site.baseurl }}/blog/2019/10/14/trip-to-madrid">
                    马德里行纪
                </a>
            </li>
            <li class='sc-content'>
                <a href="{{ site.baseurl }}/blog/2016/06/03/klug">
                    怀念Klug教授
                </a>
            </li>
            <li class='sc-content'>
                <a href="{{ site.baseurl }}/blog/2013/12/27/zjulife1">
                    我的浙大四年
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">Categories</div>
    <div class="card-body">
        <ul class="mb-0">
            <li>
                <a href="{{ site.baseurl }}/blog/list">All Posts</a>
            </li>
            {% for category in site.categories %}
            <li>
                <a href="{{ site.baseurl }}/blog/{{ category[0] | downcase | replace: ' ', '-' }}"> {{ category[0] }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="card mb-4 d-none d-md-block">
    <div class="card-header">Follow Me</div>
    <div class="card-body">
        <ul class="mb-0">
            <li><a href="https://scholar.google.com/citations?user=Dx2UZ0sAAAAJ&hl=en" target="_blank">Google Scholar</a>
            </li>
            <li><a href="https://twitter.com/YeguangXue" target="_blank">Twitter</a>
            </li>
            <li><a href="https://github.com/blackholexyg" target="_blank">GitHub</a>
            </li>
            <li><a href="https://www.linkedin.com/in/yeguangxue" target="_blank">LinkedIn</a>
            </li>
            <li class='sc-content'><a href="http://weibo.com/xygcn" target="_blank">新浪微博</a>
            </li>
        </ul>
    </div>
</div>

<div class="side-ad">
</div>
