<div class="mdl-layout__tab-panel" id="research">

    <!-- Card: Overview -->
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h4>Overview</h4>
                <p>
                    My research focuses on developing electronic devices that can be stretched, bend or twisted, which have wide application in bio-sensor and health monitors.
                </p>
                <p>
                    A few figures
                </p>
            </div>
        </div>
    </section>

    <!-- Card: Transfer Printing -->
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h4>Advanced Transfer Printing Techniques</h4>
                <p>
                    Transfer printing is one of the most important technologies in micro/nano assembly.
                </p>
                <p>
                    A few figures
                </p>
            </div>
        </div>
    </section>

    <!-- Card: Bio -->
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h4>Devices for Health Monitor</h4>
                <p>
                    TBA.
                </p>
                <p>
                    A few figures
                </p>
            </div>
        </div>
    </section>
</div>
