<div class="mdl-layout__tab-panel" id="publications">

    <!-- Card: Profile -->
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h4>Academic Profiles</h4>
                <ul>
                    <li>
                        <a href="http://www.researcherid.com/rid/B-8696-2015">
                            ResearcherID
                        </a>
                    </li>
                    <li>
                        <a href="https://scholar.google.com/citations?user=Dx2UZ0sAAAAJ&hl=en">
                            Google Scholar Citations
                        </a>
                    </li>
                    <li>
                        <a href="http://orcid.org/0000-0002-1968-5092">
                            ORCID
                        </a>
                    </li>
                    <li>
                        <a href="http://www.researchgate.net/profile/Yeguang_Xue">
                            ResearchGate
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Card: 2016 -->
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h4>Full List</h4>
                <ol id="publications-list">
                    <!-- List of Publications -->
                </ol>
            </div>
        </div>
    </section>

</div>

<script type="text/javascript">
    console.log("Test");
    $.getJSON( "data/publications.json", function( data ) {
        $.each(data,function(paperID) {
            var str = "";
            var paper = data[paperID];

            // Author List
            var author = paper["author"];
            var authorNum = author.length;
            $.each(author,function(authorID){
                if (author[authorID]=="Yeguang Xue"){
                    str += '<b>' + author[authorID] + '</b>';
                }
                else{
                    str += author[authorID];
                }
                if (authorID == authorNum-2){
                    str += ' and ';
                }   else {
                    str += ', ';
                }
            })
            // Title, Journal
            str += '"' + paper["title"] + '."';
            str += ' <i>' + paper["journal"] + '</i>';
            // Volume, Page or In press
            if (paper.hasOwnProperty("inpress")) {
                str += ", in press,";
                str += ' ' + paper["year"] + '.';
            } else{
                str += ' ' + paper["volume"] + ', ';
                str += paper["pages"][0].toString() + '-' + paper["pages"][1].toString();
                str += ' (' + paper["year"] + ').';
            }
            // Links
            if (paper.hasOwnProperty("doi")) {
                str += ' [<a href=' + 'http://dx.doi.org/' + paper["doi"] + '>DOI</a>] ';
            }
            if (paper.hasOwnProperty("link-pdf")) {
                str += ' [<a href=' + paper["link-pdf"] + '>PDF</a>] ';
            }
            // Add to HTML
            $("ol#publications-list").prepend('<li>'+str+'</li>');
        });
    });
</script>
