<div class="mdl-layout__tab-panel" id="more">

    <!-- Card: Photo -->
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h4>Recent Photo</h4>
                <p style="text-align: center">
                    <img src="/images/me-2014.jpg" alt="Yeguang photo" />
                </p>
                <p style="text-align: center">
                    <b>2014 Huangshan</b>
                </p>
            </div>
        </div>
    </section>

    <!-- Card: Address -->
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h4>Adress</h4>
                <p>
                    Technological Institute (“TECH” Building), A160 <br />
                    2145 Sheridan Road, Evanston, IL 60208
                </p>
            </div>
        </div>
    </section>
</div>
