<div class="mdl-layout__tab-panel is-active" id="home">

    <!-- Card: Brief Introduction -->
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h4>Brief Introduction</h4>
                <p>
                    Yeguang Xue is currently a 2nd year Ph.D. student in Mechanical Engineering Department at Northwestern University. He is now working with Professor <a href="http://www.mccormick.northwestern.edu/research-faculty/directory/profiles/huang-yonggang.html" target="_blank">Yonggang Huang</a>. He has wide interests in research topics including:
                </p>
                <ul>
                    <li>
                        Mechanics modeling and design of stretchable electronics
                    </li>
                    <li>
                        Finite element and mesh free methods in computational mechanics
                    </li>
                    <li>
                        Multi-scale modeling of advanced materials
                    </li>
                </ul>
                <p>
                    Yeguang has published 2 journal papers in his 1st year of Ph.D. study, including 1 paper in top mechanics journal <i>JMPS</i>. He was invited as reviewer for <i>Journal of Applied Mechanics (Transactions of the ASME)</i>.
                </p>
            </div>

            <div class="mdl-card__actions mdl-card--border">
                <a href="cv.html" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">arrow_forward</i> Yeguang's Full CV
                </a>
            </div>
        </div>
    </section>

    <!-- Card: News -->
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h4>Recent News</h4>
                <p>Under Development
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">arrow_forward</i> Read More
                </a>
            </div>
        </div>
    </section>

    <!-- Card: Highlight -->
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h4>Research Highlight</h4>
                <p>Under Development
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">arrow_forward</i> Read More
                </a>
            </div>
        </div>
    </section>
</div>
