---
layout: site
title: Yeguang's blog
---

<div class="container site-main-container">

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9 blog-main">
            <div class="post-content">

                {% for post in paginator.posts %}
                <h2>
                    <a href="{{ site.baseurl }}{{ post.url }}">
                        {% if post.title-display %}
                        {{ post.title-display }}
                        {% else %}
                        {{ post.title }}
                        {% endif %}
                    </a>
                </h2>
                <div>
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    &nbsp;
                    <span>{{ post.date | date_to_string }}</span>
                    &nbsp;
                    <i class="fa fa-tags" aria-hidden="true"></i>
                    &nbsp;
                    <span>{{ post.tags | array_to_sentence_string }}</span>
                </div>
                <hr>
                <div >
                    {{ post.content }}
                </div>

                <hr class="post-divider">
                {% endfor %}

            </div>

        </div>

        <div class="hidden-xs col-sm-4 col-md-3 blog-sidebar">
            {% include side-panels.html %}
        </div>

    </div>

    <div class="row">

        <!-- Pagination links -->
        <div class="blog-pagination">
            {% if paginator.previous_page %}
            <a class="btn btn-outline-primary" href="{{ paginator.previous_page_path }}" class="previous">
                Newer
            </a>
            {% else %}
            <a class="btn btn-outline-secondary disabled" href="#">
                Newer
            </a>
            {% endif %}

            {% if paginator.next_page %}
            <a class="btn btn-outline-primary" href="{{ paginator.next_page_path }}" class="next">Older</a>
            {% else %}
            <a class="btn btn-outline-secondary disabled" href="#">
                Older
            </a>
            {% endif %}
        </div>

    </div>

</div>
