---
layout: blog
title: Yeguang's blog
---

<!-- Main Frame -->

<h2 class="title-font-1">Blog Posts</h2>

<p>
  <a href="http://feeds.feedburner.com/yeguangblog" class="feed">Subscribe</a>
</p>

<ul class="posts">
  {% for post in site.posts %}
  <li><span class="monospace">{{ post.date | date_to_string }}</span> &raquo;
    <a href="{{ post.url }}">
      {% if post.title-display %}
        {{ post.title-display }}
      {% else %}
        {{ post.title }}
      {% endif %}
    </a>
  </li>
  {% endfor %}
</ul>
