---
layout: site
title: Yeguang's blog
---

<div class="container site-main-container">

    <div class="row">

        <div class="col-12 col-md-8 col-lg-9 blog-main">

            {% for post in paginator.posts %}

            <div class="row post-content">
                <div class="col-12">
                    {% if post.enable-sc-fonts %}
                    <h2 class='sc-content'>
                    {% else %}
                    <h2>
                    {% endif %}
                        <a href="{{ site.baseurl }}{{ post.url }}">
                            {% if post.title-display %}
                            {{ post.title-display }}
                            {% else %}
                            {{ post.title }}
                            {% endif %}
                        </a>
                    </h2>
                    <div>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        &nbsp;
                        <span>{{ post.date | date_to_string }}</span>
                        &nbsp;
                        <i class="fa fa-tags" aria-hidden="true"></i>
                        &nbsp;
                        <span>{{ post.tags | array_to_sentence_string }}</span>
                    </div>
                    <hr>

                    {% if post.enable-sc-fonts %}
                    <div class='sc-content'>
                    {% else %}
                    <div>
                    {% endif %}
                        {{ post.content }}
                    </div>

                    <div class="">
                        <p class="text-right">
                            <a href="{{ site.baseurl }}{{ post.url }}">
                                Comments &raquo;
                            </a>
                        </p>

                    </div>
                </div>
            </div>

            <hr class="post-divider mb-4">

            {% endfor %}


            <!-- Pagination links -->
            <div class="row blog-pagination mb-4">
                <div class="col align-self-center">
                    <p class="text-center">
                        {% if paginator.previous_page %}
                        <a class="btn btn-outline-primary" href="{{ paginator.previous_page_path }}" class="previous">
                            Newer
                        </a>
                        {% else %}
                        <a class="btn btn-outline-secondary disabled" href="#">
                            Newer
                        </a>
                        {% endif %}

                        {% if paginator.next_page %}
                        <a class="btn btn-outline-primary" href="{{ paginator.next_page_path }}" class="next">Older</a>
                        {% else %}
                        <a class="btn btn-outline-secondary disabled" href="#">
                            Older
                        </a>
                        {% endif %}
                    </p>
                </div>
            </div>

        </div>

        <div class="col-12 col-md-4 col-lg-3 blog-sidebar">
            {% include side-panels.html %}
        </div>


    </div>

</div>
