---
layout: site
title: Yeguang's blog
---

<div class="container site-main-container">
    <div class="row">
            
        <div class="col-12 col-md-8 col-lg-9">

            {% for category in site.categories %}
            <div id="{{ category[0] }}"></div>
            <h2>
                <a href="{{ site.baseurl }}/blog/{{ category[0] | downcase | replace: ' ', '-' }}">
                    {{ category[0] }}
                </a>
            </h2>
            <hr>
            <ul>
                {% for post in category[1] %}
                <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
            <hr class="post-divider mb-4">
            {% endfor %}

        </div>

        <div class="col-12 col-md-4 col-lg-3">
            {% include side-panels.html %}
        </div>

    </div>
</div>
