<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">

  <meta name="author" content="Yeguang Xue" />

  <title>{{ page.title }}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/newscreen.css">

  <!-- .ico -->
  <link rel="shortcut icon" href="/favicon.ico" />

  <!-- Mathjax-->
  <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  <!-- Google Site tools -->
  <meta name="google-site-verification" content="NDXDEYJ0w4fq64Kr96e58rTXy2cHY0aQ1oCW1C4G2Eo" />

  <!-- Google Track-->
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-44779583-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>

</head>

<body>

  <main>

    {{ content }}

  </main>

</body>
</html>
