<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Yeguang Xue" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <!-- <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script> -->
   <!-- <script type="text/javascript">try{Typekit.load();}catch(e){}</script> -->

   <!-- .ico -->
   <link rel="shortcut icon" href="/favicon.ico" />

   <!-- Mathjax-->
   <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
   </script>

   <!-- Google Site tools -->
   <meta name="google-site-verification" content="NDXDEYJ0w4fq64Kr96e58rTXy2cHY0aQ1oCW1C4G2Eo" />

   <!-- Google Track-->
   <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-44779583-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>

</head>

<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  <div class="title">
    <a href="/">Yeguang Xue</a>
    <a class="extra" href="/">Home</a>
    <a class="extra" href="/blog.html">Blog</a>
    <a class="extra" href="/research.html">Reaerch</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        XUE, YEGAUNG <br />
        Email: blackholexyg@gmail.com <br />
        Adress: 2145 Sheridan Road, Tech A160, Evanston, IL, 60208 <br />
      </p>
    </div>
  </div>

</div>

<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type="text/javascript">
if(document.location.protocol!='https:')
  document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRb.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
if(typeof ClickTale=='function') ClickTale(206,0.3,"www03");
</script>
<!-- ClickTale end of Bottom part -->

</body>
</html>
