<!DOCTYPE html>
<html>

<head>

  {% include head.html %}

  <!-- Post Specific -->

  <!-- syntax highlight -->
  <link rel="stylesheet" href="/css/syntax.css">
  <!-- basic link behavior -->
  <base target="_blank" />

</head>

<body>

  {% include header-post.html %}

  <main>
    <section>

      <h2 class="title-font-1">
        {% if page.title-display %}
          {{ page.title-display }}
        {% else %}
          {{ page.title }}
        {% endif %}
      </h2>

      <p>
        <span class="meta">{{ page.date | date_to_string }} - {{ page.location }} </span> |
        <span class="meta">Tags: {{ page.tags | array_to_sentence_string }}</span>
      </p>

      {{ content }}

      <h3>Related Posts</h3>
      <ul class="posts">
        {% for post in site.related_posts limit:3 %}
          <li><span class="monospace">{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>

      <!-- <hr class="divide-gradient" /> -->

      <h3>License</h3>
      {% include license.html %}

      {% if page.commentIssueId %}
        <h3>Comments</h3>
        {% include comments.html %}
      {% endif %}

    </section>

  </main>

  {% include footer.html %}

</body>

</html>
