<!DOCTYPE html>
<html>

<head>

  {% include head.html %}

  <!-- Post Specific -->
  <link rel="stylesheet" href="/css/syntax.css">

</head>

<body>

  {% include header-post.html %}

  <main>
    <section>

      <div class="chinese-font">
        <h2 class="title-font-1">{{ page.title-cn }}</h2>
      </div>

      <p>
        <span class="meta">{{ page.date | date_to_string }} - {{ page.location }} </span> |
        <span class="meta">Tags: {{ page.tags | array_to_sentence_string }}</span>
      </p>

      <div class="chinese-font">
        {{ content }}
      </div>

      <h3>Related Posts</h3>
      <ul class="posts">
        {% for post in site.related_posts limit:3 %}
        <li><span class="monospace">{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </section>
  </main>

  {% include footer.html %}

</body>

</html>
