<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Yeguang Xue" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {{ page.title }} </title>
    <!-- Material Design Lite Library -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <!-- Additional Style Configuration -->
    <link rel="stylesheet" href="css/single-article.css">
    <!-- .ico -->
    <link rel="shortcut icon" href="/favicon.ico" />
    {% include google-track.html %}
</head>

<body class="single-article mdl-color--grey-200 mdl-color-text--grey-800 mdl-base">

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <!-- Header -->
        <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title"> {{ page.title }} </span>
            </div>
        </header>
        <!-- Main content -->
        <main class="mdl-layout__content">
            <!-- Indigo Ribbon -->
            <div class="ribbon mdl-color--primary-dark"></div>

            <!-- Back Button -->
            <a href="/" id="top-button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Back</a>

            <!-- Content -->
            <section class="main-content">
                <div class="article-container mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                    <div class="article-content mdl-color--white mdl-cell mdl-cell--12-col">
                        {{ content }}
                    </div>
                </div>
            </section>

            <!-- Footer -->
            {% include site-footer.html %}
        </main>
        <!-- Javascript Libraries -->
        <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    </div>
</body>
</html>
